{{- define "nav" }}
  <div class="brand">
    <a href="/">
      {{ if .Site.Logo.Url }}
        <img alt="{{ .Site.Name }}" src="{{ .Site.Logo.Url }}"/>
      {{ end }}
      <span>{{ .Site.Name }}</span>
    </a>
  </div>

  <div class="menu">
    {{- if .Databases.main_menu }}
    <input id="nav_burger" type="checkbox" class="show">
    <label for="nav_burger">🍔</label>

    <ul>
      {{- range .Databases.main_menu.Data }}
        {{- $page := index $.Pages .page }}
        {{- $classNames := slice "button" }}
        {{- $target := "" }}
        {{- if eq $page.Uri $.Page.Uri }}{{ $classNames = append $classNames "active" }}{{ end -}}
        {{- if .external }}{{ $target = "_blank" }}{{ end -}}
        <li>
          <a href="{{ $page.Uri }}" class="{{ join $classNames " " }}" target="{{ $target }}">
            {{ $page.Title | default .title }}
          </a>
        </li>
      {{ end -}}
    </ul>
    {{ end -}}
  </div>
{{ end -}}
